force-app/main/default/flows/ApprovalProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>StepDecision</name>
        <label>Step Decision</label>
        <locationX>635</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>updateQuoteJustOneStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TwoSteps</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.CompetitiveBandFuel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.CompetitiveBandFuel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.NonFuelCompetitivePackage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Fuel Package - NF3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQuote</targetReference>
            </connector>
            <label>Two Steps</label>
        </rules>
    </decisions>
    <interviewLabel>Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetQuote</name>
        <label>Get Quote</label>
        <locationX>346</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRole</name>
        <label>Get Role</label>
        <locationX>357</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Comments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATSalesManager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuote</name>
        <label>Update Quote</label>
        <locationX>871</locationX>
        <locationY>122</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfSteps__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteJustOneStep</name>
        <label>update Quote Just One Step</label>
        <locationX>870</locationX>
        <locationY>457</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NumberOfSteps__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Comments</name>
        <label>Comments</label>
        <locationX>540</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>StepDecision</targetReference>
        </connector>
        <fields>
            <name>CommentsInput</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
