force-app/main/default/flows/CEPReopenCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assign_case_values</name>
        <label>assign case values</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>GetCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCase.Reopened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCase.ReopenedInFlow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_directly</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Permission_label</name>
        <label>set Permission label</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>PermissiontoReopenCase</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Reopen Case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionCheck</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PermissionCheckResult</name>
        <label>Permission check result</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>DoessntHavePermission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionCheck.HasPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_case_values</targetReference>
            </connector>
            <label>Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeCheck</name>
        <label>RecordTypeCheck</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>set_Permission_label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_case_values</targetReference>
            </connector>
            <label>CaseType</label>
        </rules>
    </decisions>
    <description>flow used to reopen the case</description>
    <interviewLabel>CEP Reopen Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CEP Reopen Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case_directly</name>
        <label>update case directly</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputReference>GetCase</inputReference>
    </recordUpdates>
    <screens>
        <name>DoessntHavePermission</name>
        <label>Doessn&apos;t Have Permission</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FlowAccessErrorMessage}&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishMessage</name>
            <fieldText>&lt;p&gt;{!$Label.ReopenFlow}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>PermissionCheck</name>
        <label>Permission Check</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>PermissionCheckResult</targetReference>
        </connector>
        <flowName>sample_permission_check</flowName>
        <inputAssignments>
            <name>PermissionsToCheck</name>
            <value>
                <elementReference>PermissiontoReopenCase</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>PermissiontoReopenCase</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SkipValidationRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CEPSkipValidationRules__c</objectType>
    </variables>
</Flow>
