force-app/main/default/flows/CloneQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>add_Quote_Line_Item</name>
        <label>add Quote Line Item</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_Quote</name>
        <label>assignment Quote</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>QuoteCloned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCloned.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCloned.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCloned.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteCloned.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cloned_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignmente_Quote_Line_Items</name>
        <label>Assignmente Quote Line Items</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Quote_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItems.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteCloned.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItems.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>add_Quote_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Permissions_To_Check</name>
        <label>Set Permissions To Check</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>PermissionstoCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Clone Quote</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Permission_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_has_permissions</name>
        <label>Check if has permissions</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>user_does_not_have_permissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Check.HasPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quotes</targetReference>
            </connector>
            <label>has permission</label>
        </rules>
    </decisions>
    <interviewLabel>Clone quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CEP Clone Quote</label>
    <loops>
        <name>Edit_Quote_Line_Items</name>
        <label>Edit Quote Line Items</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <collectionReference>Quote_Line_Itens</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignmente_Quote_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cloned_Quote</name>
        <label>Create Cloned Quote</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Edit_Quote_Line_Items</targetReference>
        </connector>
        <inputReference>QuoteCloned</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Redirecting</targetReference>
        </connector>
        <inputReference>QuoteLineItemsCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quotes</name>
        <label>Get Quotes</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Line_Itens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote_Line_Itens</name>
        <label>Quote Line Itens</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quotes.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecordType</name>
        <label>RecordType</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEP_CARDS_QUOTES</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Redirecting</name>
        <label>Redirecting</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoToRecord</name>
            <extensionName>c:goToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>QuoteCloned.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiNameVar</name>
                <value>
                    <elementReference>quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageMode</name>
                <value>
                    <elementReference>pageMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>user_does_not_have_permissions</name>
        <label>user does not have permissions</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.FlowAccessErrorMessage}&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Permissions_To_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Permission_Check</name>
        <label>Permission Check</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Check_if_has_permissions</targetReference>
        </connector>
        <flowName>sample_permission_check</flowName>
        <inputAssignments>
            <name>PermissionsToCheck</name>
            <value>
                <elementReference>PermissionstoCheck</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>pageMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>edit</stringValue>
        </value>
    </variables>
    <variables>
        <name>PermissionstoCheck</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuoteCloned</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
