force-app/main/default/flows/CreateSeparateCaseFromEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Change_Email_Parent_Case</name>
        <label>Change Email Parent Case</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>EmailSelected.parentCase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DefinePermissions</name>
        <label>Define Permissions</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>PermissionsToCheck</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create Case From Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PermissionCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Selected</name>
        <label>Set Email Selected</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>EmailSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Email_is_Selected</name>
        <label>Check if Email is Selected</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Iterate_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Emails.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Selected</targetReference>
            </connector>
            <label>Email Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Email_Records_Exist</name>
        <label>Check if Email Records Exist</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>NoRecordsExistMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emails_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_an_Email_to_Create_Case</targetReference>
            </connector>
            <label>Emails Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasPermissions</name>
        <label>Has Permissions</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>NoPermissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionCheck.HasPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>emailList</name>
        <dataType>String</dataType>
        <displayField>EmailMessageDiplay__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>parentCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Separate Case from Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Separate Case from Email</label>
    <loops>
        <name>Iterate_Emails</name>
        <label>Iterate Emails</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Email_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Email_is_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Case_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Change_Email_Parent_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case_Info.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case_Info.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EmailSelected.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailSelected.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>EmailSelected.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Info</name>
        <label>Get Case Info</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailSelected.parentCase__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Records</name>
        <label>Get Email Records</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Email_Records_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>parentCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>MessageDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_Message</name>
        <label>Update Email Message</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Navigate_to_Record</targetReference>
        </connector>
        <inputReference>EmailSelected</inputReference>
    </recordUpdates>
    <screens>
        <name>Navigate_to_Record</name>
        <label>Navigate to Record</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NavigateToNewCase</name>
            <extensionName>c:goToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Case</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiNameVar</name>
                <value>
                    <elementReference>case</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pageMode</name>
                <value>
                    <elementReference>viewMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoPermissions</name>
        <label>No Permissions</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Label.FlowAccessErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoRecordsExistMessage</name>
        <label>No Records Exist Message</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMessageNoRecords</name>
            <fieldText>&lt;p&gt;{!$Label.FlowCreateCaseFromEmailError}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_an_Email_to_Create_Case</name>
        <label>Select an Email to Create Case</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_Emails</targetReference>
        </connector>
        <fields>
            <name>Select_an_Email</name>
            <choiceReferences>emailList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Email</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DefinePermissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>check if user has permission</description>
        <name>PermissionCheck</name>
        <label>Permission Check</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>HasPermissions</targetReference>
        </connector>
        <flowName>sample_permission_check</flowName>
        <inputAssignments>
            <name>PermissionsToCheck</name>
            <value>
                <elementReference>PermissionsToCheck</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>PermissionsToCheck</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>viewMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>view</stringValue>
        </value>
    </variables>
</Flow>
