force-app/main/default/flows/InvoiceDownloadInvoiceDocument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>urlAssignment</name>
        <label>urlAssignment</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>urlAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoice.DownloadLink__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RedirectionToLink</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Update Download Decision</description>
        <name>UpdateDownloadDecision</name>
        <label>Update Download Decision</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>UpdateInvoice_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoNotUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoice.IsDownloaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>urlAssignment</targetReference>
            </connector>
            <label>Do Not Update</label>
        </rules>
    </decisions>
    <description>Flow that will redirect the download</description>
    <interviewLabel>Invoice - Download Invoice Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice - Download Invoice Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Invoice</description>
        <name>GetInvoice</name>
        <label>Get Invoice</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateDownloadDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Invoice</description>
        <name>UpdateInvoice_0</name>
        <label>Update Invoice</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>urlAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DownloadedDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDownloaded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <screens>
        <name>RedirectionToLink</name>
        <label>Redirection To Link</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DownloadLink</name>
            <extensionName>c:navigateToExternalURL</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlAddress</name>
                <value>
                    <elementReference>urlAddress</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInvoice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>urlAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
