force-app/main/default/flows/PrivacyPolicyConsentCapture.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>PrivacyPolicyAssignment_0_0</name>
        <label>Privacy Policy Assignment</label>
        <locationX>242</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrivacyPolicyCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUser_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckPolicyAccepted</name>
        <label>Check Policy Accepted</label>
        <locationX>374</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>ErrorCheckboxMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IConfirmThePrivacyPolicyEnglish_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GermanConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BulgariaConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SlovakiaConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SerbiaConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RomaniaConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HungaryConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CzechConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AustriaConsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrivacyPolicyAssignment_0_0</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrivacyPolicyDecision</name>
        <label>Privacy Policy Decision</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrivacyPolicyCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUser.PrivacyPolicyAccepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Privacy Policy Check</label>
        </rules>
    </decisions>
    <interviewLabel>Privacy Policy Consent Capture {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Policy Consent Capture</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>374</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrivacyPolicyConsentCaptureEnglish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrivacyPolicyDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update User</description>
        <name>UpdateUser_0</name>
        <label>Update User</label>
        <locationX>374</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrivacyPolicyAcceptanceDateTime__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PrivacyPolicyAccepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>ErrorCheckboxMissing</name>
        <label>Error Checkbox Missing</label>
        <locationX>506</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateUser_0</targetReference>
        </connector>
        <fields>
            <name>ErrorPrivacyPolicy</name>
            <fieldText>&lt;p&gt;{!$Label.ErrorMessagePrivacyPolicy}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Implement the Privacy Policy consent capture</description>
        <name>PrivacyPolicyConsentCaptureEnglish</name>
        <label>Privacy Policy Consent Capture</label>
        <locationX>374</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckPolicyAccepted</targetReference>
        </connector>
        <fields>
            <name>communityPrivacyPolicy</name>
            <extensionName>c:communityPrivacyPolicy</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labelStyle</name>
                <value>
                    <stringValue>font-size: 22px; color: #036; line-height: 1.0; font-stretch: 150%!important; font-weight: 900!important; margin-left: 20px; margin-right: 20px; font-family: &apos;Roboto Condensed&apos;, sans-serif;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IConfirmThePrivacyPolicyEnglish_0</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>CZ</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>HU</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>DE</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>SK</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>BG</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>AT</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MD</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>RO</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>SH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GermanConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy (Ich bestätige die Datenschutzerklärung)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>DE</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AustriaConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy (Ich bestätige die Datenschutzerklärung)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BulgariaConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy (Потвърждавам политиката за поверителност)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>BG</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CzechConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy (Seznámil jsem se se zásadami ochrany osobních údajů)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CZ</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HungaryConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy (Elolvastam és elfogadom az Adatkezelési Tájékoztatóban foglaltakat)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>HU</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RomaniaConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy (Confirm politica de confidențialitate)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RO</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SerbiaConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy (Prihvatam politiku privatnosti)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SlovakiaConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the Privacy Policy (Oboznámil som sa so Všeobecnými zásadami ochrany osobných údajov)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAccount.CompanyCode__r.Country__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SK</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Current date/time</description>
        <name>CurrentDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrivacyPolicyCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
