force-app/main/default/flows/sample_permission_check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Permission_Set_Verification</name>
        <label>Permission Set Verification</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <actionName>SL_PermissionSetVerification</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>verify_if_permissions_were_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>user_doesnt_have_permission</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currentUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PermissionSetsLabels</name>
            <value>
                <elementReference>PermissionsToCheck</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PermissionsFound</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>user_doesnt_have_permission</name>
        <label>user doesnt have permission</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>HasPermission</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>user_doesnt_have_permission_0_0</name>
        <label>user doesnt have permission</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>HasPermission</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>user_has_permission_0_0</name>
        <label>user has permission</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>HasPermission</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>verify_if_permissions_were_found</name>
        <label>verify if permissions were found</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>user_doesnt_have_permission_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>permissions_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionsFound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>user_has_permission_0_0</targetReference>
            </connector>
            <label>permissions found</label>
        </rules>
    </decisions>
    <interviewLabel>sample permission check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permission check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Permission_Set_Verification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HasPermission</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PermissionsFound</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>list of permission set labels to verify if the user is assigned to</description>
        <name>PermissionsToCheck</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
